.main {
    background: #333333;
    padding: 1rem;
    position: relative;
}

.status {
    display: flex;
    align-items: center;

    h3 {

        display: inline-block;
        margin-right: 2rem;
    }

}